# debug
ipykernel
ipywidgets
protobuf<4.21.0
pyyaml<6.0

# utility
tqdm
kaggle
black

# data analysis
numpy
pandas
matplotlib
seaborn
mlflow

# deeplearning
torch
pytorch-lightning
transformers
optuna
albumentations
lightly

# table
lightgbm
pytorch-tabnet

# image
opencv-python
timm
torchvision

# audio
librosa
torchaudio
