ipykernel
ipywidgets
protobuf
pyyaml
tqdm
numpy
pandas
matplotlib
seaborn
kaggle
opencv-python
lightgbm
torch
torchvision
pytorch-lightning
pytorch-tabnet
transformers
sentencepiece
optuna
mlflow
black
